@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
}
.contenedor-centrar{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor-general-temp{
    color:#212121;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 0px;
    border-radius: 7px;
    padding: 10px;

}
.mini-contenedor{
        display: flex;
        flex-direction: column;
    align-items: center;
    max-width: 80px;
}
.tiempo{
    width: 100vw;
    text-align: left;
    display: flex;
    justify-content: center;
    gap:70px;
}

.mini-contenedor > span{
    font-size: 70px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    text-shadow: 0 0 50px white;

}

.mini-contenedor > span:hover{
    transform: scale(1.1);
}

@media only screen and (max-width:770px){
    .contenedor-general-temp > h1{
        font-size: 35px;
        gap: 0px !important;
    }
    .tiempo{
        gap: 10px !important;
        width: 100%;
    }
    .mini-contenedor > span{
        font-size: 40px;
        max-width: 50px;

    }
}